<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->

    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script type="tailwind-config">
      {

          theme: {
            screens: {
                xs: "480px",
                sm: "640px",
                // => @media (min-width: 640px) { ... }

                md: "768px",
                // => @media (min-width: 768px) { ... }

                lg: "1024px",
                // => @media (min-width: 1024px) { ... }

                xl: "1280px",
                // => @media (min-width: 1280px) { ... }

                "2xl": "1536px",
                // => @media (min-width: 1536px) { ... }
              },
              extend: {
                  colors: {
                      'dark-blue-800': '#0A214C',
                      'hulk-800': '#3D42F5',
                  }
              }
          }
      }
    </script>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    </style>
  </head>
  <body>
    <div
      id="app"
      class="
        bg-blue-100
        xs:bg-pink-900
        sm:bg-blue-300
        md:bg-blue-400
        lg:bg-blue-500
        xl:bg-blue-600
        2xl:bg-blue-700
      "
    >
      <div class="flex p-10 dark:bg-gray-600 h-screen space-x-4">
        <div class="flex-1 flex flex-col space-y-8">
          <div class="card bg-gray-200 rounded-xl shadow-md">
            <div class="card-header bg-gray-600 py-2 block w-full rounded-lg">
              <h1 class="text-center text-gray-200 font-bold">
                TOTAL ACQUISITION COST ASSUMPTIONS
              </h1>
            </div>
            <div class="card-body px-3 py-3 flex flex-col space-y-2">
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Purchase price</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="acquisition_purchase_price"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Closing costs</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="acquisition_closing_costs"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Home Inspection</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="acquisition_home_inspection"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">
                  Furniture & Interiors Package
                </h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="acquisition_furniture_packages"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Rehab Work Estimates</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="acquisition_rehab_estimates"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Other Acquisition Costs</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="acquisition_other_costs"
                  />
                </div>
              </div>
            </div>
            <div
              class="
                card-footer
                px-5
                py-3
                bg-gray-600
                rounded-tl-xl rounded-tr-xl rounded-bl-lg rounded-br-lg
              "
            >
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold text-gray-200">
                  Total Capital Investment
                </h2>
                <h2 class="font-bold text-gray-200 text-xl tracking-wide">
                  $ {{ acquisition_total_investment }}
                </h2>
              </div>
            </div>
          </div>
          <div class="card bg-gray-200 rounded-xl shadow-md">
            <div class="card-header bg-gray-600 py-2 block w-full rounded-lg">
              <h1 class="text-center text-gray-200 font-bold">
                PROJECTED INCOME ASSUMPTIONS
              </h1>
            </div>
            <div class="card-body px-3 py-3 flex flex-col space-y-2">
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">
                  Average Nightly Rent (ANR)
                </h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="projected_income_average_nightly"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Weekly Rent</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    disabled
                    v-model="projected_income_weeklyRent"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Potential Annual Rent</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    disabled
                    v-model="projected_income_annualRent"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Projected Occupancy Rate</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>%</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="projected_income_occupancyRate"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Weeks Rented (of 52)</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    disabled
                    v-model="projected_income_weeks_rented"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">
                  Additional Net Revenue Streams
                </h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="projected_income_additional_revenue"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Annual Gross Revenue</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    disabled
                    v-model="projected_income_annual_gross_revenue"
                  />
                </div>
              </div>
            </div>
            <div
              class="
                card-footer
                px-5
                py-3
                bg-gray-600
                rounded-tl-xl rounded-tr-xl rounded-bl-lg rounded-br-lg
              "
            >
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold text-gray-200">
                  Annual Gross Rent
                </h2>
                <h2 class="font-bold text-gray-200 text-xl tracking-wide">
                  $ {{ projected_income_gross_rent }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-1 flex flex-col space-y-8">
          <div class="card bg-gray-200 rounded-xl shadow-md">
            <div class="card-header bg-gray-600 py-2 block w-full rounded-lg">
              <h1 class="text-center text-gray-200 font-bold">
                LOAN ASSUMPTIONS
              </h1>
            </div>
            <div class="card-body px-3 py-3 flex flex-col space-y-2">
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Down Payment (%)</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>%</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="loan_down_payment_percent"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">
                  Down Payment (Capital Investment)
                </h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    disabled
                    v-model="loan_capital_investment"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Loan Amount</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    disabled
                    v-model="loan_amount"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Interest Rate</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>%</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="loan_interest_rate"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">Amortization (Loan Years)</h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    v-model="loan_amortization"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">
                  Monthly Payment (Principal & Interest)
                </h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    disabled
                    v-model="loan_monthly_payment"
                  />
                </div>
              </div>
              <div class="flex flex-row justify-between items-center">
                <h2 class="text-lg font-semibold">
                 Annual Debt Service (Mortgage)
                </h2>
                <div class="flex items-center">
                  <div
                    class="px-3 py-2 bg-pink-300 rounded-tl-lg rounded-bl-lg"
                  >
                    <h2>$</h2>
                  </div>
                  <input
                    type="number"
                    placeholder="123"
                    class="
                      border-none
                      bg-red-200
                      focus:outline-none
                      focus:bg-gray-100
                      w-36
                    "
                    disabled
                    v-model="loan_monthly_payment"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-1 dark:bg-gray-400"></div>
        <div class="flex-1 dark:bg-gray-400"></div>
      </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
